# The clock "usb" and "gpdi" sheet
LOCATE COMP "i_clk_25mhz" SITE "G2";
IOBUF  PORT "i_clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk_25mhz" 25 MHZ;

# Status LEDs
LOCATE COMP "o_core_fault" SITE "B2"; # led 0
IOBUF  PORT "o_core_fault" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "o_blinky" SITE "C2"; # led 1
IOBUF  PORT "o_blinky" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "o_debug_led" SITE "C1";
IOBUF  PORT "o_debug_led" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# JTAG
LOCATE COMP "i_tck" SITE "L16"; # 17+ DIFF ADC AIN7 GR_PCLK
LOCATE COMP "i_tms" SITE "N16"; # 16+ DIFF ADC AIN5
LOCATE COMP "i_tdi" SITE "N17"; # 15+ DIFF ADC AIN3
LOCATE COMP "o_tdo" SITE "U18"; # 14+ DIFF ADC AIN1
LOCATE COMP "i_trstn" SITE "U17"; # 14- DIFF ADC AIN0
IOBUF PORT  "i_tck" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
FREQUENCY PORT "i_tck" 10 MHZ;
IOBUF PORT  "i_tms" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "i_tdi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "o_tdo" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "i_trstn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## USBSERIAL FTDI-FPGA serial port "usb" sheet
LOCATE COMP "o_tx" SITE "L4"; # FPGA transmits to ftdi
LOCATE COMP "i_rx" SITE "M1"; # FPGA receives from ftdi
IOBUF  PORT "o_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_rx" PULLMODE=UP IO_TYPE=LVCMOS33;


#LOCATE COMP "ftdi_nrts" SITE "M3"; # FPGA receives
#LOCATE COMP "ftdi_ndtr" SITE "N1"; # FPGA receives
#LOCATE COMP "ftdi_txden" SITE "L3"; # FPGA receives
#IOBUF  PORT "ftdi_nrts" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "ftdi_ndtr" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "ftdi_txden" PULLMODE=UP IO_TYPE=LVCMOS33;

# GPIO
LOCATE COMP "o_gpo[0]" SITE "D1";
LOCATE COMP "o_gpo[1]" SITE "E2";
LOCATE COMP "o_gpo[2]" SITE "E1";
LOCATE COMP "o_gpo[3]" SITE "H3";
IOBUF  PORT "o_gpo[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_gpo[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_gpo[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_gpo[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# GPDI differential interface (Video) "gpdi" sheet
LOCATE COMP "TMDSp[0]" SITE "A16"; # Blue +
LOCATE COMP "TMDSn[0]" SITE "B16"; # Blue -
LOCATE COMP "TMDSp[1]" SITE "A14"; # Green +
LOCATE COMP "TMDSn[1]" SITE "C14"; # Green -
LOCATE COMP "TMDSp[2]" SITE "A12"; # Red +
LOCATE COMP "TMDSn[2]" SITE "A13"; # Red -
LOCATE COMP "TMDSp_clock" SITE "A17"; # Clock +
LOCATE COMP "TMDSn_clock" SITE "B18"; # Clock -
LOCATE COMP "gpdi_util" SITE "A19"; # add 10k parallel to C
LOCATE COMP "gpdi_hpd" SITE "B20"; # add 549ohm parallel to C
LOCATE COMP "gpdi_cec" SITE "A18";
LOCATE COMP "gpdi_sda" SITE "B19"; # I2C shared with RTC
LOCATE COMP "gpdi_scl" SITE "E12"; # I2C shared with RTC C12->E12
#IOBUF PORT "TMDSp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "TMDSn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "TMDSp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "TMDSn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "TMDSp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "TMDSn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "TMDSp_clock" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "TMDSn_clock" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_util" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_hpd" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_cec" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_sda" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_scl" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# probe
# LOCATE COMP "gp21" SITE "C18"; # DIFF
# LOCATE COMP "gn21" SITE "D17"; # DIFF
# LOCATE COMP "gp22" SITE "B15";
# LOCATE COMP "gn22" SITE "C15";
# LOCATE COMP "gp23" SITE "B17";
# LOCATE COMP "clk250" SITE "C17"; #23-
# LOCATE COMP "gp24" SITE "C16";
# LOCATE COMP "clk25" SITE "D16"; #24-
# LOCATE COMP "gp25" SITE "D14";
# LOCATE COMP "gn25" SITE "E14";
# LOCATE COMP "gp26" SITE "B13";
# LOCATE COMP "gn26" SITE "C13";
# LOCATE COMP "gp27" SITE "D13";
# LOCATE COMP "gn27" SITE "E13";
# IOBUF PORT  "gp21" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gn21" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gp22" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gn22" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gp23" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "clk250" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; #23-
# IOBUF PORT  "gp24" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "clk25" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; #24-
# IOBUF PORT  "gp25" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gn25" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gp26" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gn26" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gp27" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT  "gn27" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;