# The clock "usb" and "gpdi" sheet
LOCATE COMP "i_clk_25mhz" SITE "G2";
IOBUF  PORT "i_clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk_25mhz" 25 MHZ;

# Status LEDs
LOCATE COMP "o_core_fault" SITE "B2"; # led 0
IOBUF  PORT "o_core_fault" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "o_blinky" SITE "C2"; # led 1
IOBUF  PORT "o_blinky" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "o_debug_led" SITE "C1";
IOBUF  PORT "o_debug_led" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# JTAG
LOCATE COMP "i_tck" SITE "L16"; # 17+ DIFF ADC AIN7 GR_PCLK
LOCATE COMP "i_tms" SITE "N16"; # 16+ DIFF ADC AIN5
LOCATE COMP "i_tdi" SITE "N17"; # 15+ DIFF ADC AIN3
LOCATE COMP "o_tdo" SITE "U18"; # 14+ DIFF ADC AIN1
LOCATE COMP "i_trstn" SITE "U17"; # 14- DIFF ADC AIN0
IOBUF PORT  "i_tck" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
FREQUENCY PORT "i_tck" 10 MHZ;
IOBUF PORT  "i_tms" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "i_tdi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "o_tdo" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "i_trstn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# GPIO
LOCATE COMP "o_gpo[0]" SITE "D1";
LOCATE COMP "o_gpo[1]" SITE "E2";
LOCATE COMP "o_gpo[2]" SITE "E1";
LOCATE COMP "o_gpo[3]" SITE "H3";
IOBUF  PORT "o_gpo[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_gpo[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_gpo[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_gpo[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;